@page
@{
    ViewData["Title"] = "Game";
}

<div class="card my-auto" style="position:fixed">
    <div class="card-body card text-center" style="padding: 80px">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Room:</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary p-2 mx-3">Create Room</button>
            <button type="button" class="btn btn-primary p-2 mx-3">Join Room</button>
        </div>
    </div>
</div>
