@page
@{
    ViewData["Title"] = "Game";
}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh;">
    <div class="card my-auto">
        <div style="position: absolute;">
            <div style="background:url(../../assets/kitchen/background.png); background-size: cover; width: 250px; height: 300px; display: inline-block; margin: 0"></div>
            <div style="background:url(../../assets/space/background.png); background-size: cover; width: 250px; height: 300px; display: inline-block; margin: 0;"></div>
        </div>
        <div class="card text-center" style="padding: 10px; z-index: 10; width: 400px">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Room:</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary p-2 mx-2" style="width: 120px; height: 50px">Create Room</button>
                <button type="button" class="btn btn-primary p-2 mx-2" style="width: 120px; height: 50px">Join Room</button>
            </div>
        </div>
    </div>
</div>