@page
@{
    ViewData["Title"] = "Game";
}

<div class="card" style="position:fixed; top:40%; left:35%; width: 30%; height: 20%">
    <div class="card-body card text-center" style="padding: 50px">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Room:</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>
